canvas{
    border: 1px solid black;

}

body{
    display: flex;
    margin-left: 150px;
    margin-top: 80px;
}

.sidebar{
    margin-left: 17px;
}


.dropdown, .slider{
    display: flex;
    height: fit-content;
    align-self: center;
    margin-bottom: 8px;
}

